<!doctype html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="utf-8">
	<title>This is home</title>
</head>
<body>
	<section class="picture justify-content-center align-items-center">
	<div class="text-center">
	<p class= font-weight-bold><br>
					<img src = "../img/logo.png" alt = "Logo"><br>
				</p></div>
	</section>
<section class="mt-3">
	<div>
		<h1 class="text-center">Welcome To UPES...</h1>
		<h3 class="text-left ml-3">Important links!!!</h3>
		<p class="ml-4"><a href="https://myupes.upes.ac.in/">MY UPES</a></p>
		<p class="ml-4"><a href="https://learn.upes.ac.in/">Virtual Classroom</a></p>
	</div></section>
</body>
</html>